.container-details {
  color: white;
  height: 100%;
  width: 100%;
  padding: 1rem 1rem;

  &__main {
    display: flex;
    height: 90vh;
    margin: 2rem 0;
    border-radius: 1rem;
    padding: 2rem 2rem;

    &-actions {
      padding: 1rem;
      height: 12rem;
      width: 60rem;
      border-radius: 0.5rem;

      .actions-header {
        border-bottom: 1px solid #006bf2;
        height: 3rem;
        width: 100%;
      }

      .actions-content{
        margin: 1rem 0;
        display: flex;
        justify-content: space-evenly;

        .start{
          background-color: green;
        }

        .pause{
          background-color: rgb(0, 0, 144);
        }

        .stop{
          background-color: rgb(138, 0, 0);
        }

        .action-item{
          display: flex;
          padding: .5rem 1rem;
          width: 10rem;
          border-radius: 2px;

          span{
            margin-left: 8px;
          }
        }
      }
    }
  }

  &__spinner{
    height: 6rem;
    width: 6rem;
  }
}
