.Home {
  margin: 2rem 1rem;

  &__connection{
      height: 10rem;
      background-color: white;
      border-radius: .5rem;
      margin: 1rem 1rem;
      box-shadow: -2px -2px 10px #d1d6f4, 2px 2px 10px #d1d6f4;
      &-heading{
        background-color: #333;
        padding: .5rem 1rem;
        color: white;
      }

      &-main{
        display: flex;
        flex-direction: column;
        padding: .5rem 1rem;
        justify-content: space-around;
        align-items: stretch;

        span{
          color: #333;
        }
      }
  }
  &__row {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
  }
}
