.App {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  display: flex;

  background-color: var(--color-background);

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: auto;

    min-width: 120px;
    min-height: 100%;
    width: 15%;

    color: whitesmoke;

    &__logo {
      margin-top: 1rem;
      text-align: center;

      &-svg {
        height: 4.5rem;
        width: 4.5rem;
      }
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      align-items: center;
      margin: 2rem 0 5rem 0;
      width: 90%;
      height: 90%;

      background: #151423;
      border: 1px solid #26243f;
      box-sizing: border-box;
      box-shadow: -5px -5px 12px #232239, 6px 6px 12px #121120,
        inset 0px 0px 3px #202124;
      border-radius: 0px 25px 25px 0px;

      .svg{
        height: 10rem;
      }
    }

    &_settings {
      position: absolute;
      flex: 1;
      width: 100%;
      bottom: 0;
      padding: 1rem 1rem;
      border: 1px #333 solid;
      cursor: pointer;
    }

    &__thin_line {
      border-bottom: 1px #eee solid;
      width: 90%;
      margin-top: 5rem;
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background);
  }
}
